.movie_card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 0vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.container.loaded {
  height: calc(100vh - 13vh);
  min-height: 670px;
  max-height: 765px;
}

@media (max-height: 812px) {
  div.container.loaded {
    min-height: 665px;
    max-height: 685px;
  }
}

@media (max-height: 1079px) and (min-height: 813px) {
  div.container.loaded {
    min-height: 670px;
    max-height: 735px;
  }
}

.card_container {
  bottom: 70px;
}

.container .cards_container .card_container {
  max-width: 450px;
  max-height: 650px;
  min-height: 545px;
}

.MuiTooltip-tooltip {
  font-size: 16px !important;
}

.movie_cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.movie_swipe {
  overflow: hidden !important;
  position: absolute;
}

.movie_cardText {
  position: absolute;
  background-color: #3f51b5 !important;
  bottom: 20px;
  left: 20px;
  margin: 10px;
  padding: 0 20px;
  color: #fff !important;
}

/* testing css for second card component */

.secondMovie_cardText {
  position: absolute;
  background-color: #3f51b5 !important;
  bottom: 10px;
  left: 10px;
  margin: 10px;
  padding: 0 20px;
  color: #fff !important;
}

.actionButton {
  margin-left: 1.5vw !important;
  margin-right: 1.5vw !important;
  font-size: 35px !important;
  max-width: 100px;
  width: 30vw;
}

@media (min-width: 580px) {
  .actionButton {
    margin-left: 0.5vw !important;
    margin-right: 0.5vw !important;
  }
}
